In [46]:
import pandas as pd
import numpy as np

# date_column_1 = pd.date_range(start='2024-01-01', periods=50, freq='D').strftime('%Y-%m-%d')
# date_column_2= pd.date_range(start='2024-05-01', periods=50, freq='D').strftime('%Y/%m/%d')
# date_column_3 = pd.date_range(start='2024-09-01', periods=50, freq='D').strftime('%d-%b-%Y')

# # 샘플 데이터프레임 생성
# df = pd.DataFrame({
#     'date_1': date_column_1,
#     'date_2': date_column_2,
#     'date_3': date_column_3,
# })

df = pd.read_csv('./dataset/datetime.csv')

df.head()

       date_1      date_2       date_3
0  2024-01-01  2024/05/01  01-Sep-2024
1  2024-01-02  2024/05/02  02-Sep-2024
2  2024-01-03  2024/05/03  03-Sep-2024
3  2024-01-04  2024/05/04  04-Sep-2024
4  2024-01-05  2024/05/05  05-Sep-2024

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date_1  50 non-null     object
 1   date_2  50 non-null     object
 2   date_3  50 non-null     object
dtypes: object(3)
memory usage: 1.3+ KB

#### object -> datetime 형식으로 변경

In [38]:
df['date_1'] = pd.to_datetime(df['date_1'], format='%Y-%m-%d')
df['date_2'] = pd.to_datetime(df['date_2'], format='%Y/%m/%d')
df['date_3'] = pd.to_datetime(df['date_3'], format='%d-%b-%Y')

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date_1  50 non-null     datetime64[ns]
 1   date_2  50 non-null     datetime64[ns]
 2   date_3  50 non-null     datetime64[ns]
dtypes: datetime64[ns](3)
memory usage: 1.3 KB

#### 필요한 날짜/시간 정보 추출

In [ ]:
# year, month, day, hour, minute, second

df['date_1'].dt.year

In [ ]:
## 요일 추출 -> (0: 월요일, 6: 일요일)

df['date_1'].dt.weekday

In [ ]:
pd.get_dummies(df['date_1'].dt.weekday, columns=['weekday'], prefix='weekday')

#### 날짜 차이 계산

In [32]:
(pd.to_datetime('today') - df['date_2']).dt.days

0     89
1     88
2     87
3     86
4     85
5     84
6     83
7     82
8     81
9     80
10    79
11    78
12    77
13    76
14    75
15    74
16    73
17    72
18    71
19    70
20    69
21    68
22    67
23    66
24    65
25    64
26    63
27    62
28    61
29    60
30    59
31    58
32    57
33    56
34    55
35    54
36    53
37    52
38    51
39    50
40    49
41    48
42    47
43    46
44    45
45    44
46    43
47    42
48    41
49    40
Name: date_2, dtype: int64

#### 날짜 관련 특징 생성

In [ ]:
## 단순 변환시 나노초 단위로 바뀌기 때문에 10^9을 나눠주어야 제대로 된 unix timestamp로 변환된다.

df['date_1'].astype(int) // 10**9